  body, html {
      height: 100%;
      scroll-behavior: smooth;
  }

  p, li, ul, ol, label, option, form {
      font-size: 18px;
  }

  li {
    margin-bottom: 10px;
  }

  * {
      box-sizing: border-box;
    }

  .container.wide {
    width: 90%;
  }

  #mySidebar {
    z-index: 100;
  }
  
  .front-page-bg {
    background-image: url("../images/bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .front-page-txt {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.85);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  .front-page-txt .btn {
    border-radius: 0;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    margin-top: 20px;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    cursor: pointer;
  }
  
  .front-page-txt .btn:hover {
    background-color: tomato;
    color: white;
  }

  .section-topic {
    margin-top: 40px;
  }

  .top-buffer {
    margin-top: 30px;
  }

  .left-buffer {
    margin-left: 50px;
  }

  .menu-btn {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.85);
    color: white;
    border: 3px solid #f1f1f1;
    font-weight: bold;
    position: fixed;
    top: 0;
    padding: 10px 15px;
    text-align: center;
  }
  
  .menu-btn:hover {
    background-color: #555;
    color: white;
  }
  
  .geoGeb {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #julia-col {
    margin-top: 90px;
  }

  #mandel-gallery img{
    width: 32%;
  }

  #form-julia {
    margin-left: 15px;
    margin-top: 35px;
  }

  #form-r {
    margin-left: 30px;
    text-align: right;
  }

  #form-i {
    margin-left: 58px;
    text-align: right;
  }

  #form-btn {
    margin-left: px;
  }